/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*box-sizing border box*/

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  }

  




/*beginning of my css*/


body {
	font-family: 'Titillium Web', sans-serif;

}

hr {
	width: 60px;
	padding: 2px;
}

/*header*/


header {
	background-color: #87509c;
	color: #ffffff;
	position: relative;
}


nav ul {
	padding-top: 50px;
}

nav ul li {
	display: inline-block;
	margin-right: 30px;
}

.logo {
	margin-left: 100px;
	margin-right: 200px;
}



.cudaLogo {
	vertical-align: middle;
}


header h1 {
	text-align: center;
	font-size: 34px;
	font-weight: bold;
	line-height: 1.5;
	margin-bottom: 50px;
	margin-top: 100px;
	margin-left: 165px;
	margin-right: 165px;
}

header a {
	color: white;
	text-decoration: none;
	text-transform: uppercase;
}
nav ul li a {
	padding: 5px;
	border-radius: 4px;
}

.hover a:hover {
	background-color: #643a79;
}

header div {
	text-align: center;
}

header button {
  background-color: #ed8859;
  border-radius: 5px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 50px;
  padding-left: 50px;
  font-size: 20px;
  text-align: center;
  margin-bottom: 100px;
  position: relative;
  border: none;
  color: white;
}


/* article */

/* section one */

.sectionOne {
	text-align: center;
	background-color: #17c2a4;
	color: #ffffff;
}

.sectionOne h2 {
	padding-top: 100px;
	font-size: 34px;
	text-transform: uppercase;
	padding-bottom: 10px;
}
.sectionOne hr {
	border: none;
	background-color: #13a78d;
}

.sectionOne p {
	margin-top: 14px;
	margin-bottom: 50px;
	margin-right: 265px;
	margin-left: 265px;
	line-height: 1.5;
}

.sectionOne ul {
	width: 100%;
	margin: auto;
	padding-bottom: 100px;
}
	
.sectionOne li {
	width: 23%;
	display: inline-block;
	padding: 5px;
}

.sectionOne ul li img {
	margin-bottom: 20px;
}
	
.sectionOne ul li h3 {
	text-transform: uppercase;
	font-size: 24px;
	
}

.sectionOne ul li p {
	line-height: 1.5;
	margin-left: 0px;
	margin-right: 0px;
}

/*sectionTwo*/

.sectionTwo {
	background-color: #e7f1f8;
	color: #46516a;
}

.sectionTwo h2 {
	text-align: center;
	text-transform: uppercase;
	font-size: 28px;
	font-weight: bold;
	padding-top: 100px;
	padding-bottom: 10px;
}

.sectionTwo p {
	text-align: center;
	padding-top: 14px;
	padding-bottom: 75px;
}

.sectionTwo hr {
	background-color: #c7d9e5;
	border: none;
}

.sectionTwo ul {
	text-align: center;
	padding-left: 45px;
	padding-right: 45px;
}

.sectionTwo ul li img {
	width: 80%;
	margin-bottom: 20px;
}

.sectionTwo ul li { 
	width: 22%;
	display: inline-block;
	
}

.sectionTwo h3 {
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 5px;
}

.sectionTwo h4 {
	font-size: 12px;
	font-weight: bold;
	color: #40bfe8;
	margin-bottom: 10px;
}

.sectionTwo ul li p {
	font-size: 12px;
	padding-left: 30px;
	padding-right: 30px;
	line-height: 1.5;
	padding-bottom: 20px;
}

.sectionTwo ul li ul {
	margin-bottom: 100px;
}

.fa-facebook, .fa-twitter-square, .fa-linkedin, .fa-envelope-square {
	color: #bdd1df;
	font-size: 18px;
}

/*sectionThree*/


.sectionThree h2 {
	text-align: center;
	text-transform: uppercase;
	color: #646d81;
	font-size: 28px;
	font-weight: bold;
	padding-top: 100px;
	padding-bottom: 10px;
}

.sectionThree hr {
	background-color: #dfe8ed;
	margin-bottom: 15px;
	border: none;
}

.sectionThree p {
	text-align: center;
	padding-left: 300px;
	padding-right: 300px;
	font-size: 14px;
	line-height: 1.5;
	color: #465069;
	margin-bottom: 75px;
}

.sectionThree ul {
	text-align: center;
	width: 80%;
	margin: auto;
}

.sectionThree ul li {
	display: inline-block;
	width: 24%;
}

.sectionThree ul li img {
	width: 80%;
}

.sectionThree ul li h3 {
	text-transform: uppercase;
	font-size: 18px;
	font-weight: bold;
	color: #3c4761;
	margin-bottom: 100px;
}
	

	
/*sectionFour*/

.sectionFour {
	background-color: #ffdd99;
	text-align: center;
	color: #4c4942;
}

.sectionFour h2 {
	font-size: 28px;
	font-weight: bold;
	padding-top: 100px;
	padding-bottom: 10px;
	text-transform: uppercase;
}

.sectionFour hr {
	background-color: #e5c37f;
	margin-bottom: 15px;
	border: none;
}
	
.sectionFour p {
	text-align: center;
	padding-left: 300px;
	padding-right: 300px;
	font-size: 14px;
	line-height: 1.5;
	color: #465069;
	margin-bottom: 50px;
}	

.s4ListOne {
	margin-bottom: 50px;
}
	
.s4ListOne li{
	display: inline-block;
	text-transform: uppercase;
}

.s4ListOne li button {
	width: 65px;
	margin: 3px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-transform: uppercase;
	background-color: #000000;
	font-weight: bold;
	
	color: #2b2b2b;
	border: 0px;
	border-radius: 8%;
}

.s4ListOne li button:hover {
	background-color: #ffffff;
	color: #d3d3d3;
}

.s4ListTwo li img {
	width: 80%;
	margin-bottom: 10px;
}

.s4ListTwo li {
	display: inline-block;
	width: 45%;
}


.s4ListTwo li p {
	text-align: center;
	margin-bottom: 50px;
	padding: 0px;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: bold;
}

.moreProjects {   				/*load more projects button*/
	padding-right: 40px;
	padding-left: 40px;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #17c2a4;
	color: #ffffff;
	border: none;
	border-radius: 8px;
	text-transform: uppercase;
	margin-bottom: 100px; 
}
	
/*sectionFive*/

.sectionFive {
	background-color: #d74680;
	color: #ffffff;
}

.sectionFive h2 {
	text-align: center;
	font-size: 28px;
	font-weight: bold;
	padding-top: 100px;
	padding-bottom: 10px;
	text-transform: uppercase;
}

.sectionFive hr {
	background-color: #b93c6e;
	border: none;
	margin-bottom: 15px;
}

.sectionFive p {
	text-align: center;
	font-size: 14px;
	margin-bottom: 75px;
}

.sectionFive ul {
	text-align: center;

}

.sectionFive ul li {
	width: 40%;
	display: inline-block;
	margin-left: 5px; 
	margin-right: 5px;
	padding-left: 25px;
	padding-right: 25px;
}

.sectionFive ul li img {
	width: 15%;
	float: left;
	margin-right: 20px;
}

.sectionFive ul li p {
	text-align: left;
	padding-top: 5px;
	font-style: italic;
	font-size: 14px;
	line-height: 1.5;
	margin-bottom: 15px;
}

.sectionFive ul li h3 {
	text-align: left;
	font-size: 18px;
	font-weight: bold;
	margin-top: 0px;
	margin-left: 70px;
}

.sectionFive ul li h4 {
	text-align: left;
	margin-top: 0px;
	margin-left: 70px;
	font-size: 14px;
	font-weight: bold;
	color: #f1aa90;
	margin-bottom: 100px;
}
	

	
/*sectionSix*/

.sectionSix {
	background-color: #3c5499;
	text-align: center;
	color: #ffffff;
}

.sectionSix h2{
	text-transform: uppercase;
	font-size: 28px;
	font-weight: bold;
	padding-top: 100px;
	padding-bottom: 10px;
}
	
.sectionSix hr {
	background-color: #273a71;
	border: none;
	margin-bottom: 15px;
}

.sectionSix p {
	font-size: 14px;
	margin-bottom: 75px;
}


/*sectionSix form*/

form {
	width: 450px;
	display: inline-block;
	color: #ffffff;
}

input {
	width: 40%;
	margin: 15px;
	border-radius: 4px;
	border: none;
	padding: 10px;
	background-color: #273a71;	
}

::placeholder {
	color: #ffffff;
}

textarea {
	padding: 15px;
	margin: auto;
	width: 88%;
	height: 150px;
	display: block;
	margin-top: 20px;
	border-radius: 4px;
	border: none;
	background-color: #273a71;
	margin-bottom: 50px;
}


textarea ::placeholder {
	margin-top: 5px;
	margin-left: 5px;
}
	
	


.submit {
	margin-bottom: 100px;
	padding-top: 15px;
	padding-bottom: 15px;
	background-color: #30bae7;
	color: #ffffff;
}

/*footer*/

footer {
	background-color: #344b8e;
}

footer ul {
	text-align: center;
}

footer ul li {
	display: inline-block;
	padding: 30px;
	margin: auto;
}

footer ul li a {
	font-size: 18px;
	font-weight: bold;
	color: #ffffff;
	text-decoration: none;
}

footer ul li a:hover {
	color: #13a78d;
}


/*tablet layout*/

@media(max-width: 769px) {

	.logo {
		margin-left: 10px;
		margin-right: 20px;
	}

	header h1 {
	text-align: center;
	font-size: 34px;
	font-weight: bold;
	line-height: 1.5;
	margin-bottom: 50px;
	margin-top: 100px;
	margin-left: 50px;
	margin-right: 50px;
	}

/*sectionOne*/

	.sectionOne p {
		margin-top: 14px;
		margin-bottom: 50px;
		margin-right: 50px;
		margin-left: 50px;
		line-height: 1.5;
	}	

	.sectionOne li {
	width: 45%;
	display: inline-block;
	padding: 5px;
	}
	
	.sectionOne ul li p {
	line-height: 1.5;
	margin-left: 20px;
	margin-right: 20px;
	}
	
/*sectionTwo*/

	.sectionTwo ul li {
	width: 45%;
	display: inline-block;
	padding: 5px;
	}

	
/*sectionThree*/
	
	.sectionThree ul li {
	width: 45%;
	display: inline-block;
	padding: 5px;
	}
	
	.sectionThree p {
		text-align: center;
		padding-left: 50px;
		padding-right: 50px;
		font-size: 14px;
		line-height: 1.5;
		color: #465069;
		margin-bottom: 75px;
	}

/*sectionFour*/

	.sectionFour p {
	text-align: center;
	padding-left: 50px;
	padding-right: 50px;
	font-size: 14px;
	line-height: 1.5;
	color: #465069;
	margin-bottom: 50px;
	}

	
	
/*sectionFive*/

	
	.sectionFive ul li h3 {
		text-align: left;
		font-size: 18px;
		font-weight: bold;
		margin-top: 0px;
	}

	.sectionFive ul li h4 {
		text-align: left;
		margin-top: 0px;
		margin-left: 0px;
		font-size: 14px;
		font-weight: bold;
		color: #f1aa90;
		margin-bottom: 100px;
	}	

	
/*footer*/

	footer ul li {
		display: inline-block;
		padding: 10px;
		padding-top: 20px;
		padding-bottom: 20px;
		margin: auto;
	}

	
}

/*Phone Layout*/

@media(max-width: 415px) {
	
	/*header*/
	header nav ul li {
		display: block;
	}
	
	.logo {
	text-align: center;
}
	
	header h1 {
		margin: 20px;
	}
	
	header button {
	  width: 100%;
	  margin-bottom: 0px;
	  border-radius: 0px;
	}
	
	
/*sectionOne*/
	
	.sectionOne h2 {
		padding-top: 50px;
	}
	
	.sectionOne li {
		width: 100%;
		display: block;
		padding: 5px;
	}
	
	.sectionOne ul {
		padding-bottom: 0px;
	}
	.sectionOne p {
		margin-bottom: 20px;
	}
	
/*sectionTwo*/
	
	.sectionTwo h2 {
		padding-top: 50px;
	}
	
	.sectionTwo ul li {
		width: 100%;
		display: block;
		padding: 5px;
	}
	
	.sectionTwo ul li ul {
		margin-bottom: 20px;
	}
	
	.sectionTwo ul li ul li{
		width: 20%;
		display: inline-block;
	}
	.sectionTwo p {
		padding-bottom: 20px;
		padding-left: 50px;
		padding-right: 50px;
	}
	
/*sectionThree*/
	
	.sectionThree h2 {
		padding-top: 50px;
	}
	
	.sectionThree ul li {
		width: 100%;
		display: block;
		padding: 5px;
	}
	
	.sectionThree p {
		margin-bottom: 10px;
	}
	
	.sectionThree ul li h3 {
		margin-bottom: 10px;
	}
	
/*sectionFour*/
	
	.sectionFour h2 {
		padding-top: 50px;
	}
	
	.s4ListOne li {
		width: 45%;
		display: inline-block;
	}
	
	.s4ListOne li button{
		width: 100%;
		padding: 10px;
	}
	
	.s4ListTwo li {
		display: block;
		width: 100%;
	}
	
	
	
/*sectionFive*/
	
	.sectionFive h2 {
		padding-top: 50px;
	}
	
	.sectionFive p {
		margin-bottom: 20px;
	}
	
	.sectionFive ul li {
		width: 100%;
		display: block;
		padding: 5px;
	}

	.sectionFive ul li img {
		width: 60%;
		float: none;
		margin:auto;
	}

	.sectionFive ul li p {
		text-align: center;
		padding-left: 50px;
		padding-right: 50px;
	}

	.sectionFive ul li h3 {
		text-align: center;
		margin-top: 0px;
		margin-left: 0px;
	}

	.sectionFive ul li h4 {
		text-align: center;
		margin-top: 0px;
		margin-left: 0px;
		margin-bottom: 20px;
	}
	
	.moreProjects {   				/*load more projects button*/
		width: 100%;
		border-radius: 0px;
		margin-bottom: 0px; 
	}	
		
/*sectionSix*/
	
	.sectionSix h2 {
		padding-top: 50px;
	}
	
	.sectionSix p {
		margin-bottom: 20px;
		padding-left: 50px;
		padding-right: 50px;
	}
	
	form {
		width: 100%;
		display: block;
	}

	input {
		width: 100%;
		margin-left: 0px;
		margin-top: 0px;
		margin-bottom: 5px;
	}


	textarea {
		width: 100%;
		margin-top: 0px;
		margin-bottom: 5px;
	}
	
	.submit {
		margin-bottom: 0px;
		border-radius: 0px;
	}
	/*footer*/
	
	footer ul {
		padding-top: 20px;
	}
	
	footer ul li {
		display: block;
	}

	footer ul li a {
		font-size: 24px;
	}
	
}

