/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*box-sizing border box*/

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  }

  




/*beginning of my css*/


body {
	font-family: 'Titillium Web', sans-serif;

}

hr {
	width: 60px;
	padding: 2px;
}

/*header*/


header {
	background-color: #87509c;
	color: #ffffff;
}


nav ul {
	padding-top: 50px;
}

nav ul li {
	display: inline-block;
	margin-right: 30px;
}

.logo {
	margin-left: 100px;
	margin-right: 300px;
}

.cudaLogo {
	vertical-align: middle;
}

header h1 {
	text-align: center;
	font-size: 34px;
	margin-bottom: 50px;
	margin-top: 100px;
}

header a {
	color: white;
	text-decoration: none;
	text-transform: uppercase;
}

header div {
	text-align: center;
}

header button {
  background-color: #ed8859;
  border-radius: 5px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 50px;
  padding-left: 50px;
  font-size: 20px;
  text-align: center;
  margin-bottom: 100px;
  position: relative;
}



/* article */

/* section one */

.sectionOne {
	text-align: center;
	background-color: #17c2a4;
	color: #ffffff;
}

.sectionOne h2 {
	padding-top: 100px;
	font-size: 34px;
	text-transform: uppercase;
}

.sectionOne p {
	margin-top: 14px;
	margin-bottom: 50px;
}

.sectionOne ul {
	width: 100%;
	margin: auto;
	padding-bottom: 100px;
}
	
.sectionOne li {
	width: 23%;
	display: inline-block;
	padding: 5px;
}

.sectionOne ul li img {
	margin-bottom: 20px;
}
	
.sectionOne ul li h3 {
	text-transform: uppercase;
	font-size: 24px;
	
}

.sectionOne ul li p {
	line-height: 1.5;
}

/*sectionTwo*/

.sectionTwo {
	background-color: #e7f1f8;
	color: #46516a;
}

.sectionTwo h2 {
	text-align: center;
	text-transform: uppercase;
	font-size: 28px;
	font-weight: bold;
	padding-top: 100px;
	padding-bottom: 10px;
}

.sectionTwo p {
	text-align: center;
	padding-top: 14px;
	padding-bottom: 75px;
}

.sectionTwo hr {
	background-color: #c7d9e5;
	border: none;
}

.sectionTwo ul {
	text-align: center;
}

.sectionTwo ul li img {
	width: 80%;
	margin-bottom: 20px;
}

.sectionTwo ul li { 
	width: 22%;
	display: inline-block;
	
}

.sectionTwo h3 {
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 5px;
}

.sectionTwo h4 {
	font-size: 12px;
	font-weight: bold;
	color: #40bfe8;
	margin-bottom: 10px;
}

.sectionTwo ul li p {
	font-size: 12px;
	padding-left: 30px;
	padding-right: 30px;
	line-height: 1.5;
	padding-bottom: 20px;
}

.sectionTwo ul li ul {
	margin-bottom: 100px;
}



/*sectionThree*/


.sectionThree h2 {
	text-align: center;
	text-transform: uppercase;
	color: #646d81;
	font-size: 28px;
	font-weight: bold;
	padding-top: 100px;
	padding-bottom: 10px;
}

.sectionThree hr {
	background-color: #dfe8ed;
	margin-bottom: 15px;
	border: none;
}

.sectionThree p {
	text-align: center;
	padding-left: 300px;
	padding-right: 300px;
	font-size: 14px;
	line-height: 1.5;
	color: #465069;
	margin-bottom: 75px;
}

.sectionThree ul {
	text-align: center;
	width: 80%;
	margin: auto;
}

.sectionThree ul li {
	display: inline-block;
	width: 24%;
}

.sectionThree ul li img {
	width: 80%;
}

.sectionThree ul li h3 {
	text-transform: uppercase;
	font-size: 18px;
	font-weight: bold;
	color: #3c4761;
	margin-bottom: 100px;
}
	

	
/*sectionFour*/

.sectionFour {
	background-color: #ffdd99;
	text-align: center;
	color: #4c4942;
}

.sectionFour h2 {
	font-size: 28px;
	font-weight: bold;
	padding-top: 100px;
	padding-bottom: 10px;
	text-transform: uppercase;
}

.sectionFour hr {
	background-color: #e5c37f;
	margin-bottom: 15px;
	border: none;
}
	
.sectionFour p {
	text-align: center;
	padding-left: 300px;
	padding-right: 300px;
	font-size: 14px;
	line-height: 1.5;
	color: #465069;
	margin-bottom: 50px;
}	

.s4ListOne {
	margin-bottom: 50px;
}
	
.s4ListOne li{
	display: inline-block;
	text-transform: uppercase;
}

.s4ListOne li button {
	width: 65px;
	margin: 3px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-transform: uppercase;
	background-color: #000000;
	font-weight: bold;
	color: #d3d3d3;
	color: #2b2b2b;
	border: 0px;
	border-radius: 8%;
	
}
.s4ListTwo li img {
	width: 80%;
	margin-bottom: 10px;
}

.s4ListTwo li {
	display: inline-block;
	width: 45%;
}


.s4ListTwo li p {
	text-align: center;
	margin-bottom: 50px;
	padding: 0px;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: bold;
}

.moreProjects {   				/*load more projects button*/
	padding-right: 40px;
	padding-left: 40px;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #17c2a4;
	color: #ffffff;
	border-radius: 8px;
	text-transform: uppercase;
	margin-bottom: 100px; 
}
	
/*sectionFive*/

.sectionFive {
	background-color: #d74680;
	color: #ffffff;
}

.sectionFive h2 {
	text-align: center;
	font-size: 28px;
	font-weight: bold;
	padding-top: 100px;
	padding-bottom: 10px;
	text-transform: uppercase;
}

.sectionFive hr {
	background-color: #b93c6e;
	border: none;
	margin-bottom: 15px;
}

.sectionFive p {
	text-align: center;
	font-size: 14px;
	margin-bottom: 75px;
}

.sectionFive ul {
	text-align: center;
	margin: auto;
}

.sectionFive ul li {
	width: 40%;
	display: inline-block;
}

.sectionFive ul li img {
	width: 15%;
	float: left;
	margin-right: 20px;
}

.sectionFive ul li p {
	text-align: left;
	padding-top: 5px;
	padding-right: 50px;
	font-style: italic;
	font-size: 14px;
	line-height: 1.5;
	margin-bottom: 15px;
}

.sectionFive ul li h3 {
	text-align: left;
	font-size: 18px;
	font-weight: bold;
	margin-top: 0px;
	margin-left: 80px;
}

.sectionFive ul li h4 {
	text-align: left;
	margin-top: 0px;
	margin-left: 80px;
	font-size: 14px;
	font-weight: bold;
	color: #f1aa90;
	margin-bottom: 100px;
}
	

	
/*sectionSix*/

.sectionSix {
	background-color: #3c5499;
	text-align: center;
}

.sectionSix h2{
	text-transform: uppercase;
	color: #ffffff;
	font-size: 28px;
	font-weight: bold;
	padding-top: 100px;
	padding-bottom: 10px;
}
	
.sectionSix hr {
	background-color: #273a71;
	border: none;
	margin-bottom: 15px;
}

.sectionSix p {
	color: #ffffff;
	font-size: 14px;
	margin-bottom: 75px;
}

form {
	width: 450px;
	display: inline-block;
}

input {
	border-radius: 4px;
	border: none;
	padding: 10px;
	margin: auto;
	
}

textarea {
	margin: auto;
	width: 400px;
	height: 150px;
	display: block;
	margin-top: 20px;
	border-radius: 4px;
	border: none;
}
	
